DIV.TITLEBAR {
	MIN-WIDTH:              850PX;
	POSITION:		RELATIVE;
	LEFT:			1%;
	WIDTH:			98%;
	HEIGHT:			70px;
	TEXT-ALIGN:		LEFT;
	BACKGROUND-COLOR:	#BBBBBB;
	BORDER:			2PX outset WHITE;
}
IMG.LOGO {
	FLOAT:			RIGHT;
}

DIV.MENUBAR {
	MIN-WIDTH:		850PX;
	POSITION:               RELATIVE;
	LEFT:                   1%;
	MARGIN-TOP:		5px;
	WIDTH:          	98%;
	HEIGHT:         	28px;
	BACKGROUND-COLOR:       #BBBBBB;
	BORDER:                 2PX outset WHITE;
}
DIV.LMENU {
	FONT-FAMILY:		impact, 'lucida console', sans-serif;
	COLOR:			#EEEEEE;
	FLOAT:			LEFT;
	HEIGHT:			28px;
	PADDING-LEFT:		40px;
	PADDING-RIGHT:		40px;
	PADDING-TOP:		3px;
	TEXT-ALIGN:		CENTER;
	BORDER-RIGHT-STYLE:	DOTTED;
	BORDER-RIGHT-COLOR:	WHITE;
}
DIV.LMENURIGHT {
        FONT-FAMILY:            impact, 'lucida console', sans-serif;
	COLOR:                  #EEEEEE;
	FLOAT:                  LEFT;
	HEIGHT:                 28px;
	PADDING-LEFT:           40px;
	PADDING-RIGHT:          40px;
	PADDING-TOP:		3px;
	TEXT-ALIGN:             CENTER;
}

DIV.CONTENT {
	float:			none;
	MIN-WIDTH:              850PX;
	MIN-HEIGHT:		450px;
}

DIV.FOOTER {
	MIN-WIDTH:              250PX;
	POSITION:		RELATIVE;
	LEFT:			33%;
	WIDTH:			33%;
	HEIGHT:                 28px;
	BACKGROUND-COLOR:       #BBBBBB;
	BORDER:                 2PX outset WHITE;
}

DIV.SEARCHBOX {
	//TEXT-ALIGN:		CENTER;
}

DIV.SEARCHOPTIONS {
	//TEXT-ALIGN:           CENTER;
}

TABLE.SEARCHRESULTS {
	WIDTH:			76%;
	POSITION:		RELATIVE;
	LEFT:			12%;
	BORDER:			1PX SOLID;
	PADDING:		0 0 0 0;
}

TABLE.SEARCHRESULTS TH {
	TEXT-ALIGN:		LEFT;
}

TR.SEARCHLINE1 {
	BACKGROUND-COLOR:	#DDDDDD;
}

TR.SEARCHLINE1 TD {
	BORDER-RIGHT:		1px DOTTED #CCCCCC;
	BORDER-LEFT:           1px DOTTED #CCCCCC;
	
}

TR.SEARCHLINE2 {
	BACKGROUND-COLOR:	#EEEEEE;
}
TR.SEARCHLINE2 TD {
	BORDER-RIGHT:		1px DOTTED #CCCCCC;
	BORDER-LEFT:           1px DOTTED #CCCCCC;
}
