<html>
  <head>
    <title>RaW Digiplay Manager</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  </head>
  <body>
  <div class="centreContainer">
  <div class="home_titleBar">
    <div class="home_titleL">
      <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
      <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
    </div> 
    <div class="home_titleMid">
    </div>
    <div class="home_titleR">
      <a href="/"><img src="../../DPS/images/hometitleAdmin.gif" alt="Admin"></a>
      <a href="/"><img src="../../DPS/images/hometitleHelp.gif" alt="Help"></a>
      <a href="/"><img src="../../DPS/images/hometitleExit.gif" alt="Exit"></a>
    </div>
  </div>  
  <div class="home_navigateBar">
    <div class="home_musicNav">
      <div class="home_musicNavTitle">
	<a href="/"><img src="../../DPS/images/homenavmusic.png" alt="Music Library"></a>
      </div>
      <div class="home_musicNavDesc">
	Search for and edit music
      </div>
    </div>
    <div class="home_showNav">
      <div class="home_showNavTitle">
	<a href="/"><img src="../../DPS/images/homenavshow.png" alt="Show Planning"></a>
      </div>
      <div class="home_showNavDesc">
	Plan and schedule your show
      </div>
    </div>
    <div class="home_sueNav">
      <div class="home_sueNavTitle">
	<a href="/"><img src="../../DPS/images/homenavsue.png" alt="Sue Stamp"></a>
      </div>
      <div class="home_sueNavDesc">
	view and edit Sue playlist
      </div>
    </div>
    <div class="home_studioNav">
      <div class="home_studioNavTitle">
	<a href="/"><img src="../../DPS/images/homenavstudio.png" alt="Studio Audiowalls"></a>
      </div>
      <div class="home_studioNavDesc">
	Edit your jingles
      </div>
    </div>
  </div>
  <div class="home_content">
    <div class="home_contentL">
      <div class="home_userBox">
	<b>Logged in as</b> psharpe<br>
        <a href="/">Change user settings</a><br>
        last logged in: 21:09, 15/06/2006
      </div>    
      <div class="home_statsBox">
        <img src="../../DPS/images/homelivestats.gif" alt="Live Statistics"><br>
	<table class="home_stats">
	  <tr><th>Tracks stored:</th><td>17893</td></tr>
	  <tr><th>Length of tracks:</th><td>101 days, 13h 49m</td></tr>
	  <tr><th>Sue playlist:</th><td>1022</td></tr>
	  <tr><th>Length of playlist:</th><td>49 days, 11h 58m</td></tr>
	  <tr><th>Digiplay uptime:</th><td>91 days, 2h 33m</td></tr>
	</table>
      </div>
    </div>
    <div class="home_contentMid">
      <div class="home_sueBox">
        <img src="../../DPS/images/homesueplaylist.gif" alt="Sue Playlist"><br>
	<table class="home_playlist">
	  <tr><th>Last track:</th><td>Elbow - Forget Myself</td></tr>
	  <tr><th>Next track:</th><td>Raconteurs - Store Bought Bones</td></tr>
	</table>
	<a href="/">Further playlist</a>
      </div>
      <div class="home_scheduleBox">
        <img src="../../DPS/images/homerawschedule.gif" alt="RaW Schedule"><br>
	<table class="home_schedule">
	  <tr><th>Current Show:</th><td>Julia and Charlotte on...</td></tr>
	  <tr><th>Last Show:</th><td>Uber U</td></tr>
	  <tr><th>Next Show:</th><td>Pete and Aarani...</td></tr>
	</table>
	<a href="/">Full schedule</a>
      </div>
    </div>
    <div class="home_featuresBox">
      <b>Other Features</b><br>
      <a href="/">Audio Archive</a><br>
      <a href="/">Webcam Archive</a><br>
      <a href="/">Requested Tracks</a><br>
      <a href="/">Censored Tracks</a><br>
    </div>
  </div>
  <div class="copyright">Copyright &#169 RaW 1251AM, 2006</div>
  </div>
  </body>
</html>
