<HTML>
	<TITLE>
		Digital Playout System
	</TITLE>
	<HEAD>
		<LINK REL='stylesheet' HREF='dps.css' type='text/css'>
	</HEAD>
	<BODY>
		<DIV CLASS='TITLEBAR'>
			<IMG SRC='MY/IMAGE/PATH' CLASS='LOGO' ALT='DIGIPLAY'>
		</DIV>

		<DIV CLASS='MENUBAR'>
			<DIV CLASS='LMENU'>HOME</DIV>
			<DIV CLASS='LMENU'>THE MUSIC LIBRARY</DIV>
			<DIV CLASS='LMENU'>MY DIGIPLAY</DIV>
			<DIV CLASS='LMENU'>ADMINISTRATION</DIV>
			<DIV CLASS='LMENURIGHT'>HELP</DIV>
		</DIV>

		<DIV CLASS='CONTENT'>
			<FORM>
				<DIV CLASS='SEARCHBOX'>
					<INPUT TYPE='TEXT' NAME='SEARCH'>
					<INPUT TYPE='SUBMIT' NAME=='Search' VALUE='Search'>
				</DIV>
				<DIV CLASS='SEARCHOPTIONS'>
					Title<INPUT TYPE='RADIO' NAME='STYPE' VALUE='TITLE'>
					Artist<INPUT TYPE='RADIO' NAME='STYPE' VALUE='ARTIST'>
					Both<INPUT TYPE='RADIO' NAME='STYPE' VALUE='BOTH'>
				</DIV>
			</FORM>
				<TABLE CLASS='SEARCHRESULTS'>
					<TR>
						<TH>Title</TH>
						<TH>Artist</TH>
						<TH>Album</TH>
						<TH>Edit</TH>
						<TH>Report</TH>
					</TR>
					<TR CLASS='SEARCHLINE1'>
						<TD>Title1</TD>
						<TD>Artist1</TD>
						<TD>Album1</TD>
						<TD>Edit1</TD>
						<TD>Report1</TD>
					</TR>
					<TR CLASS='SEARCHLINE2'>
						<TD>Title2</TD>
						<TD>Artist2</TD>
						<TD>Album2</TD>
						<TD>Edit2</TD>
						<TD>Report2</TD>
					</TR>
				</TABLE>	
		</DIV>

		<DIV CLASS='FOOTER'>

		</DIV>
	</BODY>
</HTML>
