<html>
  <head>
    <title>Digiplay Manager</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  </head>
  <body>
    <div class="centreContainer">
      <div class="frame_bottom">
	<div class="frame_suesidebar">
	  <img class="frame_sidebarlogo" src="../../DPS/images/homenavsue.png" alt="Sue Stamp">
	  <div class="frame_sidebarmusic"><a href="/">Music Library</a></div>
	  <div class="frame_sidebarshow"><a href="/">Show Planning</a></div>
	  <div class="frame_sidebarstudio"><a href="/">Studio Audiowalls</a></div>
	  <div class="frame_suesidebarlinks">
	    <a href="/">View Sue Playlist</a><br>
	    <a href="/">Add to Sue Playlist</a><br>
	    <a href="/">Sue Stamp's Statistics</a><br>
	  </div>
        </div>
        <div class="frame_rightside">
	  <div class="frame_suesearchbox">
	    Search for tracks
	    <form>
	      <input type="text">
	      <select>
		<option value="Both">Both</option>
		<option value="Title">Title</option>
		<option value="Artist">Artist</option>
	      </select>
	      <input type="Submit" value="Search">
	    </form>
          </div>
	  
	  <div class="frame_suenextbox">
	    <b>Next track:</b><br>
	    The Buggles - Video Killed the Radio Star<br>
          </div>
          <div class="frame_content">
	    <div class="musicTitle">Add to Sue Playlist</div>
	    <br style="{clear:both;}" />
	    <div class="sueplaylistInfo1">
	      (sorted by artist)
	    </div>
	    <div class="sueplaylistInfo2">
	      Click a track's title for more information
	    </div>
	    <table class="sueviewplaylist">
	      <tr>
	        <th>Playlisted?</th><th>Artist</th><th>Title</th><th>Length</th><th>30s Preview</th>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
	        <td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr>
	      <tr>
		<td><input type="checkbox" checked></td><td>A really long artist name</td><td><a href="/">Better Off With Him</a></td><td>3m 49s</td><td><a href="/">Preview</a></td>
	      </tr> 
	    </table>
	      <div class="sueplaylistpage">
		Page: <a href="/">1</a> | <a href="/">2</a> | <a href="/">3</a> | <a href="/">4</a> | <a href="/">5</a> | <a href="/">6</a>
	      </div>
	      <div class="sueplaylistupdate">
		<input type="submit" value="Submit">
	      </div>
	      <br style="{clear:both;}" />
	  </div>
        </div>
        <div class="copyright">Copyright &#169 RaW 1251AM, 2006</div>
      </div>    
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>
    </div>
  </body>
</html>
