<html>
  <head>
    <title>Digiplay Manager</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  </head>
  <body>
    <div class="centreContainer">
      <div class="frame_bottom">
	<div class="frame_suesidebar">
	  <img class="frame_sidebarlogo" src="../../DPS/images/homenavsue.png" alt="Sue Stamp">
	  <div class="frame_sidebarmusic"><a href="/">Music Library</a></div>
	  <div class="frame_sidebarshow"><a href="/">Show Planning</a></div>
	  <div class="frame_sidebarstudio"><a href="/">Studio Audiowalls</a></div>
	  <div class="frame_suesidebarlinks">
	    <a href="/">View Sue Playlist</a><br>
	    <a href="/">Add to Sue Playlist</a><br>
	    <a href="/">Sue Stamp's Statistics</a><br>
	  </div>
        </div>
        <div class="frame_rightside">
	  <div class="frame_suesearchbox">
	    Search for tracks
	    <form>
	      <input type="text">
	      <select>
		<option value="Both">Both</option>
		<option value="Title">Title</option>
		<option value="Artist">Artist</option>
	      </select>
	      <input type="Submit" value="Search">
	    </form>
          </div>
	  <div class="frame_suenextbox">
	    <b>Next track:</b><br>
	    The Buggles - Video Killed the Radio Star<br>
          </div>
          <div class="frame_content">
	    <div class="musicTitle">Sue Stamp's Stats</div>
	    <table class="suestats">
	      <tr><th>Tracks currently on Sue Playlist</th><td>1019</td></tr>
	      <tr><th>Time currently on Sue Playlist</th><td>62h 35m</td></tr>
	      <tr><th>Total tracks currently on system</th><td>19417</td></tr>
	      <tr><th>Total time currently on system</th><td>53 Days, 6h 3m</td></tr>
	    </table>
	    <br />
	    <div class="musicTitle">Coming up on Sue</div>
	    <table class="suestats">
	      <tr><th>Track</th><th>Artist</th></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	      <tr><td>Gold Lion</td><td>Yeah Yeah Yeah</td></tr>
	    </table>
	  </div>
        </div>
        <div class="copyright">Copyright &#169 RaW 1251AM, 2006</div>
      </div>    
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>
    </div>
  </body>
</html>
