<html>
  <head>
    <title>RaW Digiplay Manager</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  </head>
  <body>
    <div class="centreContainer">
    <!--
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>-->
      <div class="frame_bottom">
	<div class="frame_musicsidebar">
	  <img class="frame_sidebarlogo" src="../../DPS/images/homenavmusic.png" alt="Music Library">
	  <div class="frame_sidebarshow"><a href="/">Show Planning</a></div>
	  <div class="frame_sidebarsue"><a href="/">Sue Stamp</a></div>
	  <div class="frame_sidebarstudio"><a href="/">Studio Audiowalls</a></div>
	  <div class="frame_musicsidebarlinks">
	    <a href="/">Search tracks</a><br>
	    <a href="/">View requested tracks</a><br>
	    <a href="/">View censored tracks</a><br>
	  </div>
        </div>
        <div class="frame_rightside">
	  <div class="frame_musicsearchbox">
	    Search for tracks
	    <form>
	      <input type="text">
	      <select>
	        <option value="Both">Both</option>
		<option value="Artist">Artist</option>
		<option value="Title">Title</option>
	      </select>
	      <input type="submit">
	    </form>
	  </div>

	  <div class="frame_musicrequestbox">
	    Can't find the track you're after?<br>
	    <b>Request it</b>
	    <form>
	      <input type="text"><br>
	      <input type="submit"><br>
	      <a href="/">See requested tracks</a>
	  </form>
          </div>
  
          <div class="frame_content">
	    <div class="musicTitle">Censored Tracks</div>
	    <div class="musicSubTitle">
	      4 tracks have been recommened for censorship<br>
	      37 tracks have been censored
	    </div>
	    <hr \>
	    <div class="musicCensorInfo1">Recommended for censorship</div>
	    <div class="musicCensorInstructions1">Select tick-box to censor</div>
	    <div class="musicCensorRecommend">
	      <table class="musicCensorRecommend">
		<tr>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		  <td><a href="/">Preview</a></td>
		  <td><input type="checkbox"></td>
		</tr>
		<tr>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		  <td><a href="/">Preview</a></td>
		  <td><input type="checkbox"></td>
		</tr>
		<tr>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		  <td><a href="/">Preview</a></td>
		  <td><input type="checkbox"></td>
	        </tr>
		<tr>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		  <td><a href="/">Preview</a></td>
		  <td><input type="checkbox"></td>
		</tr>
	      </table>
	    </div>
	    <div class="musicCensorInstructions2">
	      Censored tracks cannot be played through Digiplay between <b>9pm to 7am</b>
	    </div>
	    <div class="musicCensorCMB1">
	      <input type="submit" name="submit" value="Submit">
	      <input type="reset" value="Reset"><br>
	      <input type="submit" name="submit" value="Clear List">
	    </div>
	    <hr style="{clear:both}" \>
	    
	    <div class="musicCensorInfo1">Censored tracks</div>
	    <div class="musicCensorInstructions1">Select tick-box to remove from list</div>
	    <div class="musicCensored">
	      <table class="musicCensored">
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
		<tr>
		  <td><input type="checkbox"></td>
		  <td>Labelle</td>
		  <td>Lady Marmalade</td>
		</tr>
	      </table>
	    </div>
	    <div class="musicCensorCMB2">
	      <input type="submit" name="submit" value="Submit">
	      <input type="reset" value="Reset"><br>
	    </div>
	  <br style="{clear:both}" \> 
	  </div>
        </div>
        <div class="copyright">Copyright &#169 RaW 1251AM, 2006</div>
      </div>    
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>
    </div>
  </body>
</html>
