<html>
  <head>
    <title>RaW Digiplay Manager</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />
  </head>
  <body>
    <div class="centreContainer">
    <!--
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>-->
      <div class="frame_bottom">
	<div class="frame_musicsidebar">
	  <img class="frame_sidebarlogo" src="../../DPS/images/homenavmusic.png" alt="Music Library">
	  <div class="frame_sidebarshow"><a href="/">Show Planning</a></div>
	  <div class="frame_sidebarsue"><a href="/">Sue Stamp</a></div>
	  <div class="frame_sidebarstudio"><a href="/">Studio Audiowalls</a></div>
	  <div class="frame_musicsidebarlinks">
	    <a href="/">Search tracks</a><br>
	    <a href="/">View requested tracks</a><br>
	    <a href="/">View censored tracks</a><br>
	  </div>
        </div>
        <div class="frame_rightside">
	  <div class="frame_musicsearchbox">
	    Search for tracks
	    <form>
	      <input type="text">
	      <select>
	        <option value="Both">Both</option>
		<option value="Artist">Artist</option>
		<option value="Title">Title</option>
	      </select>
	      <input type="submit">
	    </form>
	  </div>

	  <div class="frame_musicrequestbox">
	    Can't find the track you're after?<br>
	    <b>Request it</b>
	    <form>
	      <input type="text"><br>
	      <input type="submit"><br>
	      <a href="/">See requested tracks</a>
	  </form>
          </div>
  
          <div class="frame_content">
	    <div class="musicTitle">Track Details</div>
	    <div class="musicTrackDetailsLinks"><a href="/">Go back to search screen</a></div>
	    <div class="musicTrackHolder">
	      <div class="musicTrackDetailsL">
		<table class="musicShowTrackInfo">
		  <tr><th>Artist</th><td>Coldplay</td></tr>
		  <tr><th>Title</th><td>Don't Panic</td></tr>
		  <tr><th>Album</th><td>Parachutes</td></tr>
		  <tr><th>Year</th><td>2000</td></tr>
		  <tr><th>Genre</th><td>Rock / Pop</td></tr>
		  <tr><th>Length</th><td>4:29</td></tr>
		  <tr><th>Censored</th><td>No</td></tr>
		  <tr><th>Playlisted</th><td>No</td></tr>
		  <tr><th>Notes</th>
		    <td>
		      This track is brilliant but shouldn't be played at breakfast as it will send people back to sleep
		      <div class="musicTrackCommentTools"> Added by cdoidge <a href="/">delete</a></div>
		      <hr>
		      Crap Crap Crap Crap
		      <div class="musicTrackCommentTools">Added by awestbrook</div>
		    </td>
		  </tr>
		</table>
	      </div>
	      <div class="musicTrackDetailsR">
		<a href="/">Edit this track's details</a><br>
		<b>Write note about track</b>
		<form>
		  <textarea rows="5" cols="34"></textarea><br>
		  <input type="Submit" value="Submit">
		</form>
	      </div>
	    </div>
	    <hr style={clear:both;}> 
	    <div class="musicTrackHolder">
	      <div class="musicTrackDetailsL">
		<table class="musicShowTrackInfo">
		  <tr><th>Artist</th><td>Coldplay</td></tr>
		  <tr><th>Title</th><td>Don't Panic</td></tr>
		  <tr><th>Album</th><td>Parachutes</td></tr>
		  <tr><th>Year</th><td>2000</td></tr>
		  <tr><th>Genre</th><td>Rock / Pop</td></tr>
		  <tr><th>Length</th><td>4:29</td></tr>
		  <tr><th>Censored</th><td>No</td></tr>
		  <tr><th>Playlisted</th><td>No</td></tr>
		  <tr><th>Notes</th>
		    <td>
		      This track is brilliant but shouldn't be played at breakfast as it will send people back to sleep
		      <div class="musicTrackCommentTools"> Added by cdoidge <a href="/">delete</a></div>
		      <hr>
		      Crap Crap Crap Crap
		      <div class="musicTrackCommentTools">Added by awestbrook</div>
		    </td>
		  </tr>
		</table>
	      </div>
	      <div class="musicTrackDetailsR">
		<a href="/">Edit this track's details</a><br>
		<b>Write note about track</b>
		<form>
		  <textarea rows="5" cols="34"></textarea><br>
		  <input type="Submit" value="Submit">
		</form>
	      </div>
	    </div>
	    <br style={clear:both;}>
	  </div>
        </div>
        <div class="copyright">Copyright &#169 RaW 1251AM, 2006</div>
      </div>    
      <div class="frame_halfTitleBar">
	<div class="frame_halfTitleL">
	  <a href="/"><img class="home_title" src="../../DPS/images/hometitle.gif" alt="Raw Digiplay Manager"></a>
	  <img class="home_titleOverlap" src="../../DPS/images/hometitlebgMid.png">
	</div>
	<div class="home_titleMid"></div>
	<div class="frame_titleR">
	  <a href="/"><img src="../../DPS/images/titleExit.gif" alt="Exit"></a>
	  <a href="/"><img src="../../DPS/images/titleHelp.gif" alt="Help"></a>
	  <a href="/"><img src="../../DPS/images/titleAdmin.gif" alt="Admin"></a>
	</div>
      </div>
    </div>
  </body>
</html>
